@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 100%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 100%;
  }
}

.bg-animated-gradient {
  background: linear-gradient(270deg, #10475f, #203a43, #2c5364, #121016);
  background-size: 600% 600%;
  animation: gradientAnimation 15s ease infinite;
}
